:root {
  --background-color: #091921;
  --text-color: #00fff1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: var(--background-color);
}

.container {
  padding: 0.5rem;
  width: 90vw;
  min-height: 90vh;
  margin: 5vh auto;
  box-shadow: inset 2px 2px 5px var(--text-color), inset -2px -2px 5px var(--text-color);
  border-radius: 0.5rem;
}

.title {
  margin: 1.25rem 0;
  font-size: 4rem;
  font-weight: bolder;
  opacity: 0.9;
  color: var(--text-color);
}

.drum {
  width: 9rem;
  height: 9rem;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 3rem;
  font-weight: bold;
  border: none;
  outline: none;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.8);
  margin: 0.5rem;
  border-radius: 1rem;
}

.drum-circle {
  border-radius: 50%;
}

.volume-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.volume-control-icon {
  color: var(--text-color);
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  border-radius: 50%;
}

.volume-control-slider {
  height: 0.5rem;
  width: 12rem;
  margin-left: 0.5rem;
  appearance: none;
  background: var(--text-color);
  border-radius: 0.5rem;
  outline: none;
}

.volume-control-slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

.util-buttons {
  margin-top: 2.5rem;
}

.util-button {
  height: 3rem;
  width: 12rem;
  font-family: sans-serif;
  font-size: 1rem;
  border: none;
  outline: none;
  background: var(--background-color);
  color: var(--text-color);
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1), 1px 1px 3px rgba(0, 0, 0, 0.8);
  margin: 0 0.25rem;
}

.pressed {
  opacity: 0.5;
  box-shadow: -1px -1px 3px var(--background-color);
}

.util-button.pressed {
  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 1px 1px 1px rgba(0, 0, 0, 0.8);
}
